* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #14152B;
}
body {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 600px;
  background-color: #c6c6c6;
  border-left: 2px solid rgb(0, 194, 58);
  border-right: 2px solid rgb(0, 194, 58);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
  background-color: #DDDDDD;
  color: black;
}
h1 {
  padding-left: 1rem;
}
span {
  color: rgb(0, 194, 58);
}
nav ul { 
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li {
  list-style-type: none;
}
.icon {
  width: 30px;
  transition: filter 0.1s ease-in-out;
  cursor: pointer;
}
.icon:hover {
    filter: brightness(0) saturate(100%) invert(30%) sepia(90%) saturate(4000%) hue-rotate(5deg) brightness(90%) contrast(105%);
  }