* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: hsl(0, 0%, 5%);
  color: whitesmoke;
  max-width: 1500px;
  margin: 0 auto;
}
nav {
  background-color: hsl(0,0%,20%);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3.5rem;
}

nav ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 85%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.45rem;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

.icon {
  width: 26px;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: brightness(0) invert(1);
}

nav ul li a:hover {
  color: #ff6700;
}

nav ul li a:hover .icon {
  transdform: translatey(-4px) scale(1.08);
  filter: brightness(0) saturate(100%) invert(43%)
          sepia(96%) saturate(5913%)
          hue-rotate(4deg) brightness(101%);
}

nav ul li a.active {
  color: #ff6700;
}

nav ul li a.active .icon {
  filter: brightness(0) saturate(100%) invert(43%)
          sepia(96%) saturate(5913%)
          hue-rotate(4deg) brightness(101%);
}